/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=DynaPuff:wght@400;500;600;700&family=Gluten:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Sniglet:wght@400;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* padding: 0; */
  /* margin: 0; */
  /* font-family: 'Sniglet', sans-serif; */
  /* font-family: 'DynaPuff', sans-serif; */
  /* font-family: 'Nunito', sans-serif; */



}

a {
  text-decoration: none;
}

.truncate-description {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines you want to display */
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em; /* Adjust based on line height and line-clamp */
}


.connectButton {
  background-color: rgba(255,255,255,0) !important;
  /* border-radius: 9999px !important; */
  border: 1px solid rgba(255,255,255,0) !important;
  
  /* color: #fff !important; */
  width: max-content;
  cursor: pointer !important;
  font-size: 120% !important;
  align-items: center;
  justify-content: center;
  /* height: 44px !important; */
  /* padding: 0 25px !important; */
  position: relative !important;
  text-align: center !important;
  /* transition: all 0.15s ease-in-out !important; */
}

.animatedBounce {
  animation: bounce 3s infinite ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    bottom:0px;
  }
  50% {
    bottom:-30px;
  }
}

